In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:
train_df = pd.read_csv("train.csv") #loading the training data

In [3]:
train_df
train_df.shape

(204277, 18)

In [4]:
train_df.head

<bound method NDFrame.head of             LoanID  Age  Income  LoanAmount  CreditScore  MonthsEmployed  \
0       DRIRC89L0T   18  137576      209136          846              26
1       TS0FIUNHNU   47   57194        5970          748              30
2       I0YR284A1V   26   84328       95065          453               7
3       WB1T7NQV8A   53   49795      229582          533             107
4       J6GU9M4G1Z   49  115450       22072          840               0
...            ...  ...     ...         ...          ...             ...
204272  KYS1HKNGGE   40  116623      161673          651              79
204273  5MAOH3AOZO   67   62958      189499          460              77
204274  5Y9Z6NW29X   62   34372       59645          524              94
204275  O51974F566   44  146262      198454          489               7
204276  SVGAIO53ZK   36   97844      188593          542               2

        NumCreditLines  InterestRate  LoanTerm  DTIRatio    Education  \
0                    2         10.47        60      0.81  High School
1                    2         19.72        36      0.73  High School
2                    2         24.25        12      0.45     Master's
3                    3         14.44        60      0.17   Bachelor's
4                    4         24.48        12      0.11   Bachelor's
...                ...           ...       ...       ...          ...
204272               2         23.44        12      0.87   Bachelor's
204273               3          9.29        36      0.11   Bachelor's
204274               3          9.72        60      0.24          PhD
204275               4          4.31        48      0.30  High School
204276               3         23.14        24      0.83   Bachelor's

       EmploymentType MaritalStatus HasMortgage HasDependents LoanPurpose  \
0       Self-employed        Single         Yes            No    Business
1          Unemployed      Divorced          No           Yes   Education
2       Self-employed       Married          No            No       Other
3       Self-employed        Single         Yes            No        Auto
4           Part-time        Single          No           Yes   Education
...               ...           ...         ...           ...         ...
204272      Part-time      Divorced          No            No        Home
204273  Self-employed        Single          No            No    Business
204274      Full-time        Single         Yes            No        Auto
204275  Self-employed       Married         Yes            No        Home
204276      Part-time      Divorced          No            No        Home

       HasCoSigner  Default
0               No        0
1               No        0
2              Yes        0
3              Yes        1
4              Yes        0
...            ...      ...
204272         Yes        0
204273         Yes        0
204274          No        0
204275          No        0
204276          No        1

[204277 rows x 18 columns]>

In [5]:
train_df.drop_duplicates(inplace=True) #Removing duplicates

In [6]:
train_df

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,DRIRC89L0T,18,137576,209136,846,26,2,10.47,60,0.81,High School,Self-employed,Single,Yes,No,Business,No,0
1,TS0FIUNHNU,47,57194,5970,748,30,2,19.72,36,0.73,High School,Unemployed,Divorced,No,Yes,Education,No,0
2,I0YR284A1V,26,84328,95065,453,7,2,24.25,12,0.45,Master's,Self-employed,Married,No,No,Other,Yes,0
3,WB1T7NQV8A,53,49795,229582,533,107,3,14.44,60,0.17,Bachelor's,Self-employed,Single,Yes,No,Auto,Yes,1
4,J6GU9M4G1Z,49,115450,22072,840,0,4,24.48,12,0.11,Bachelor's,Part-time,Single,No,Yes,Education,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204272,KYS1HKNGGE,40,116623,161673,651,79,2,23.44,12,0.87,Bachelor's,Part-time,Divorced,No,No,Home,Yes,0
204273,5MAOH3AOZO,67,62958,189499,460,77,3,9.29,36,0.11,Bachelor's,Self-employed,Single,No,No,Business,Yes,0
204274,5Y9Z6NW29X,62,34372,59645,524,94,3,9.72,60,0.24,PhD,Full-time,Single,Yes,No,Auto,No,0
204275,O51974F566,44,146262,198454,489,7,4,4.31,48,0.30,High School,Self-employed,Married,Yes,No,Home,No,0
204276,SVGAIO53ZK,36,97844,188593,542,2,3,23.14,24,0.83,Bachelor's,Part-time,Divorced,No,No,Home,No,1

In [7]:
print(train_df.isnull() .sum()) # checking for null values

LoanID            0
Age               0
Income            0
LoanAmount        0
CreditScore       0
MonthsEmployed    0
NumCreditLines    0
InterestRate      0
LoanTerm          0
DTIRatio          0
Education         0
EmploymentType    0
MaritalStatus     0
HasMortgage       0
HasDependents     0
LoanPurpose       0
HasCoSigner       0
Default           0
dtype: int64

In [8]:
train_df.isnull().sum()

LoanID            0
Age               0
Income            0
LoanAmount        0
CreditScore       0
MonthsEmployed    0
NumCreditLines    0
InterestRate      0
LoanTerm          0
DTIRatio          0
Education         0
EmploymentType    0
MaritalStatus     0
HasMortgage       0
HasDependents     0
LoanPurpose       0
HasCoSigner       0
Default           0
dtype: int64

In [9]:
round(train_df.describe(),2)

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Default
count,204277.00,204277.00,204277.00,204277.00,204277.00,204277.00,204277.00,204277.00,204277.00,204277.00
mean,43.49,82506.23,127547.50,574.08,59.51,2.50,13.49,36.01,0.50,0.12
std,15.00,38952.10,70855.06,158.88,34.65,1.12,6.64,16.94,0.23,0.32
min,18.00,15000.00,5001.00,300.00,0.00,1.00,2.00,12.00,0.10,0.00
25%,31.00,48878.00,66059.00,437.00,30.00,2.00,7.76,24.00,0.30,0.00
50%,43.00,82400.00,127603.00,574.00,59.00,3.00,13.45,36.00,0.50,0.00
75%,56.00,116247.00,188843.00,712.00,90.00,4.00,19.24,48.00,0.70,0.00
max,69.00,149999.00,249999.00,849.00,119.00,4.00,25.00,60.00,0.90,1.00

In [10]:
#dropping unnecessary columns
train_df.drop('LoanID', axis=1, inplace=True)

In [11]:
print(len(pd.unique(train_df['Education'])))
print(len(pd.unique(train_df['EmploymentType'])))
print(len(pd.unique(train_df['MaritalStatus'])))
print(len(pd.unique(train_df['LoanPurpose'])))

4
4
3
5

In [12]:
#Label encoding categorical columns
le = LabelEncoder()
for col in ['Education', 'EmploymentType', 'MaritalStatus', 'LoanPurpose', 'HasMortgage', 'HasDependents', 'HasCoSigner']:
    train_df[col] = le.fit_transform(train_df[col])

In [13]:
train_df.head()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,18,137576,209136,846,26,2,10.47,60,0.81,1,2,2,1,0,1,0,0
1,47,57194,5970,748,30,2,19.72,36,0.73,1,3,0,0,1,2,0,0
2,26,84328,95065,453,7,2,24.25,12,0.45,2,2,1,0,0,4,1,0
3,53,49795,229582,533,107,3,14.44,60,0.17,0,2,2,1,0,0,1,1
4,49,115450,22072,840,0,4,24.48,12,0.11,0,1,2,0,1,2,1,0

In [14]:
X = train_df.drop('Default', axis=1)
y = train_df['Default']

# Split data after preprocessing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=7)

In [15]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [16]:
#training the svm model
svc=SVC()

print("Default Parameters of SVC:")
print(svc.get_params())

svc.fit(X_train,y_train)
y_pred=svc.predict(X_test)
print('Model accuracy score with default hyperparameters: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Default Parameters of SVC:
{'C': 1.0, 'break_ties': False, 'cache_size': 200, 'class_weight': None, 'coef0': 0.0, 'decision_function_shape': 'ovr', 'degree': 3, 'gamma': 'scale', 'kernel': 'rbf', 'max_iter': -1, 'probability': False, 'random_state': None, 'shrinking': True, 'tol': 0.001, 'verbose': False}
Model accuracy score with default hyperparameters: 0.8859

In [17]:
import pickle
#Loading test and sample_submission files
test_df = pd.read_csv("test.csv")
sample_submission = pd.read_csv("sample_submission.csv")

#Same pre-processing steps for the testing 
test_df.drop('LoanID', axis=1, inplace=True)
le = LabelEncoder()
for col in ['Education', 'EmploymentType', 'MaritalStatus', 'LoanPurpose', 'HasMortgage', 'HasDependents', 'HasCoSigner']:
    test_df[col] = le.fit_transform(test_df[col])

X_test = test_df 
predictions = svc.predict(X_test)

submission_df = sample_submission.copy()
submission_df['Default'] = predictions

submission_df.to_csv("submission_svm_default_without_smote.csv", index=False)
print("submission_svm_default.csv file created successfully.")

submission_svm_default.csv file created successfully.

In [31]:
#using GridSearchCV for finding the best parameters
from sklearn.model_selection import GridSearchCV
svc = SVC()

param_grid = {
    'C': [0.1, 1, 10, 100],  #Regularization parameter
    'gamma': [1, 0.1, 0.01, 0.001],  #Kernel coefficient for 'rbf'
    'kernel': ['rbf', 'linear']  #Kernel type
}

grid_search = GridSearchCV(estimator=svc, param_grid=param_grid, scoring='accuracy', cv=5, verbose=2)
grid_search.fit(X_train, y_train)

print("Best Parameters:", grid_search.best_params_)
print("Best Cross-Validation Score:", grid_search.best_score_)

Fitting 5 folds for each of 32 candidates, totalling 160 fits
[CV] END .........................C=0.1, gamma=1, kernel=rbf; total time=35.8min
[CV] END .........................C=0.1, gamma=1, kernel=rbf; total time=37.7min
[CV] END .........................C=0.1, gamma=1, kernel=rbf; total time=39.3min
[CV] END ........................C=0.1, gamma=1, kernel=rbf; total time=101.5min
[CV] END .........................C=0.1, gamma=1, kernel=rbf; total time=37.5min
[CV] END .....................C=0.1, gamma=1, kernel=linear; total time=222.7min
[CV] END .....................C=0.1, gamma=1, kernel=linear; total time=228.8min
[CV] END .....................C=0.1, gamma=1, kernel=linear; total time=227.5min
[CV] END .....................C=0.1, gamma=1, kernel=linear; total time=917.1min
[CV] END .....................C=0.1, gamma=1, kernel=linear; total time=210.9min
[CV] END .......................C=0.1, gamma=0.1, kernel=rbf; total time=36.5min
[CV] END .......................C=0.1, gamma=0.1, kernel=rbf; total time=32.9min
[CV] END .......................C=0.1, gamma=0.1, kernel=rbf; total time=35.8min
[CV] END .......................C=0.1, gamma=0.1, kernel=rbf; total time=35.0min
[CV] END .......................C=0.1, gamma=0.1, kernel=rbf; total time=36.0min
[CV] END ...................C=0.1, gamma=0.1, kernel=linear; total time=236.2min
[CV] END ...................C=0.1, gamma=0.1, kernel=linear; total time=375.6min